<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="apple-touch-icon" sizes="180x180" href="{$basePath}/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{$basePath}/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{$basePath}/favicon/favicon-16x16.png">
	<link rel="manifest" href="{$basePath}/favicon/site.webmanifest">
	<link rel="mask-icon" href="{$basePath}/favicon/safari-pinned-tab.svg" color="#111111">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="{$basePath}/build/css/main.min.css?v={filemtime('build/css/main.min.css')}">
	<title>{ifset title}{include title|stripHtml} | {/ifset}Forbes Knihy</title>
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
	<header class="HeaderLayout">
		<div class="Container Container--small">
			<nav class="HeaderLayout__Navbar">
				<div class="HeaderLayout__Brand">
					<svg class="Icon-BrandLogo">
						<use xlink:href="{$basePath}/build/svg/sources/sprite.svg#forbes"></use>
					</svg>
				</div>
				<div class="HeaderLayout__Menu">
					<ul class="HeaderLayout__List">
						<li class="HeaderLayout__ListItem">
							<a href="https://www.forbes.cz/tag/byznys/">Byznys a miliardáři</a>
						</li>
						<li class="HeaderLayout__ListItem">
							<a href="https://www.forbes.cz/tag/technologie/">Technologie</a>
						</li>
						<li class="HeaderLayout__ListItem">
							<a href="https://www.forbes.cz/tag/forbes-life/">Life</a>
						</li>
						<li class="HeaderLayout__ListItem">
							<a href="https://www.forbes.cz/tag/jak-byt-lepsi/">Jak být lepší</a>
						</li>
						<li class="HeaderLayout__ListItem">
							<a href="https://www.forbes.cz/tag/forbes-woman/">Woman</a>
						</li>
						<li class="HeaderLayout__ListItem">
							<a href="https://www.forbes.cz/tag/aktualni-specialy-a-zebricky/">Speciály a žebříčky</a>
						</li>
						<li class="HeaderLayout__ListItem">
							<a href="https://www.forbes.cz/tag/forbes-podcast/">Podcasty</a>
						</li>
						<li class="HeaderLayout__ListItem">
							<a href="https://www.forbes.cz/forbes-obchod/">Předplatné</a>
						</li>
						{*<li class="HeaderLayout__ListItem">
							<span class="Button Button__small u-radius-2"><a href="/">Knihy</a></span>
						</li>*}
					</ul>
				</div>
			</nav>
		</div>
	</header>
	<div class="RestartBar">
		<div class="Container Container--small">
			<div class="RestartBar__restartBlock">
				<div class="RestartBar__logo">
					<svg class="Icon-Restart">
						<use xlink:href="{$basePath}/build/svg/sources/sprite.svg#restart"></use>
					</svg>
					<span class="RestartBar__Separator"></span>
				</div>
				<div class="RestartBar__menu">
					<ul class="RestartBar__menuList">
						<li><a href="https://api.forbes.cz/covid19/restart/pomoc-od-statu/?_ga=2.250613574.1728328318.1594107915-1840150553.1593780825">pomoc od státu</a></li>
						<li><a href="https://api.forbes.cz/covid19/restart/jak-nastartovat-byznys/?_ga=2.249898950.1728328318.1594107915-1840150553.1593780825">jak nastartovat byznys</a></li>
						<li><a href="https://api.forbes.cz/covid19/restart/jak-nastartovat-sebe/?_ga=2.249898950.1728328318.1594107915-1840150553.1593780825">jak nastartovat sebe</a></li>
						<li><a href="https://api.forbes.cz/covid19/restart/zachranbyznys/?_ga=2.249898950.1728328318.1594107915-1840150553.1593780825">#zahraňbyznys</a></li>
						<li><a href="https://www.forbes.cz/tag/jak-cestovat/">jak cestovat</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	{include #content}

	{block scripts}
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	{/block}
</body>
</html>
