<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="apple-touch-icon" sizes="180x180" href="{$basePath}/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{$basePath}/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{$basePath}/favicon/favicon-16x16.png">
	<link rel="manifest" href="{$basePath}/favicon/site.webmanifest">
	<link rel="mask-icon" href="{$basePath}/favicon/safari-pinned-tab.svg" color="#111111">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="{$basePath}/build/css/main.min.css?v={filemtime('build/css/main.min.css')}">
	<title>{ifset title}{include title|stripHtml} | {/ifset}Forbes Knihy</title>

	<!-- Facebook Pixel Code -->
	<script n:syntax="off">
		!function(f,b,e,v,n,t,s)
				{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
				n.callMethod.apply(n,arguments):n.queue.push(arguments)};
				if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
				n.queue=[];t=b.createElement(e);t.async=!0;
				t.src=v;s=b.getElementsByTagName(e)[0];
				s.parentNode.insertBefore(t,s)}(window, document,'script',
				'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '948569578515384');
		fbq('track', 'PageView');
	</script>
	<noscript>
		<img height="1" width="1" style="display:none"
			 src="https://www.facebook.com/tr?id=948569578515384&ev=PageView&noscript=1"
		/>
	</noscript>
	<!-- End Facebook Pixel Code -->

</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
	{* <div class="SpecialbarLayout">
		<div class="Container Container--small">
			<div class="SpecialbarLayout__Content">
			<a class="BrandLogo" href="/">
				<svg class="Icon-BrandLogo white">
					<use xlink:href="{$basePath}/build/svg/sources/sprite.svg#forbes"></use>
				</svg>
			</a>
			<div class="BarButton">
				<a href="https://forbes.cz/" target="_blank" class="Button"></a>
			</div>
			</div>
		</div>
	</div> *}
	<header class="HeaderLayout">
		<div class="Container Container--small">
			<nav class="HeaderLayout__Navbar">
				<div class="HeaderLayout__Brand">
					<a href="https://www.forbes.cz/" rel="noopener noreferrer">
						<svg class="Icon-BrandLogo">
							<use xlink:href="{$basePath}/build/svg/sources/sprite.svg#forbes"></use>
						</svg>
					</a>
				</div>
				<div class="HeaderLayout__Menu">
					<ul class="HeaderLayout__List">
						<li class="HeaderLayout__ListItem">
							<a href="https://www.forbes.cz/tag/byznys/">Byznys a miliardáři</a>
						</li>
						<li class="HeaderLayout__ListItem">
							<a href="https://www.forbes.cz/tag/technologie/">Technologie</a>
						</li>
						<li class="HeaderLayout__ListItem">
							<a href="https://www.forbes.cz/tag/forbes-life/">Life</a>
						</li>
						<li class="HeaderLayout__ListItem">
							<a href="https://www.forbes.cz/tag/jak-byt-lepsi/">Jak být lepší</a>
						</li>
						<li class="HeaderLayout__ListItem">
							<a href="https://www.forbes.cz/tag/forbes-woman/">Woman</a>
						</li>
						<li class="HeaderLayout__ListItem">
							<a href="https://www.forbes.cz/tag/aktualni-specialy-a-zebricky/">Speciály a žebříčky</a>
						</li>
						<li class="HeaderLayout__ListItem">
							<a href="https://www.forbes.cz/tag/forbes-podcast/">Podcasty</a>
						</li>
						<li class="HeaderLayout__ListItem">
							<a href="https://www.forbes.cz/forbes-obchod/">Předplatné</a>
						</li>
						{*<li class="HeaderLayout__ListItem">
							<span class="Button Button__small u-radius-2"><a href="/">Knihy</a></span>
						</li>*}
					</ul>
				</div>
				<div class="Navbar-Menu">
					<div id="menu">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</nav>
		</div>
	</header>
	{* <div class="RoadtripBar">
		<div class="Container Container--small">
			<div class="RoadtripBar__restartBlock">
				<div class="RoadtripBar__menu">
					<ul class="RoadtripBar__menuList">
						<div class="RoadtripBar__logo">
							<svg class="Icon-Roadtrip">
								<use xlink:href="{$basePath}/build/svg/sources/sprite.svg#roadTrip"></use>
							</svg>
							<span class="RoadtripBar__Separator"></span>
						</div>
						<li><a href="https://api.forbes.cz/covid19/roadtrip/pro-foodies/?_ga=2.268940785.161025398.1594803936-1464448170.1594803936">Pro foodies</a></li>
						<li><a href="https://api.forbes.cz/covid19/roadtrip/cesta-z-mesta/?_ga=2.268940785.161025398.1594803936-1464448170.1594803936">Cesta z města</a></li>
						<li><a href="https://api.forbes.cz/covid19/roadtrip/za-zazitky/?_ga=2.95785244.161025398.1594803936-1464448170.1594803936">Za zážitky</a></li>
						<li><a href="https://api.forbes.cz/covid19/roadtrip/stylova-ubytovani/?_ga=2.95785244.161025398.1594803936-1464448170.1594803936">Stylová ubytování</a></li>
						<li><a href="https://api.forbes.cz/covid19/roadtrip/poznejte-prahu/?_ga=2.95785244.161025398.1594803936-1464448170.1594803936">Poznejte Prahu</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div> *}

	{include #content}

	<div class="FooterLayout">
		<div class="Container Container--smallest">
			<div class="FooterLayout__Wrapper">
				<div class="Footer__Card">
					<ul class="Footer__List">
						<li><a href="https://www.forbes.cz/">Hlavní stránka</a></li>
						<li><a href="https://www.forbes.cz/forbes-obchod/">Předplatné</a></li>
						<li><a href="https://www.forbes.cz/eventy/">Eventy</a></li>
						<li><a href="https://www.forbes.cz/advoice/">AdVoice</a></li>
						<li><a href="https://www.forbes.cz/tag/forbes-video/">Video</a></li>
						<li><a href="https://www.forbes.cz/tag/forbes-espresso/">Espresso</a></li>
					</ul>
				</div>
				<div class="Footer__Card">
					<ul class="Footer__List">
						<li><a href="https://www.forbes.cz/tag/forbes-cocktail/">Cocktail</a></li>
						<li><a href="https://www.forbes.cz/quotes/">Citáty</a></li>
						<li><a href="https://www.forbes.cz/inzerce/">Inzerce</a></li>
						<li><a href="https://www.forbes.cz/kontakty/">Kontakty</a></li>
						<li><a href="https://www.forbes.cz/obchodni-podminky-a-informace-ke-zpracovani-osobnich-udaju/">Podmínky a os. údaje</a></li>
					</ul>
				</div>
				<div class="Footer__Card">
					<ul class="Footer__List">
						<li><strong>Předplatné</strong></li>
						<li><a href="tel:+420 228 226 824"><strong>+420 228 226 824</strong></a></li>
						<li><a href="mailto:publisher@forbes.cz">publisher@forbes.cz</a></li>
						<li><strong>Redakce</strong></li>
						<li><a href="tel:+420 228 225 093"><strong>+420 228 225 093</strong></a></li>
					</ul>
				</div>
				<div class="Footer__Card">
					<ul class="Footer__List">
						<li>Sledujte nás</li>
						<li class="u-mt-2">
							<div class="IconSoc">
								<a href="https://facebook.com/forbescesko" class="noDecoration" target="_blank" rel="noopener noreferrer">
									<svg class="IconSoc__fb">
										<use xlink:href="{$basePath}/build/svg/sources/sprite.svg#facebook-f-brands(1)">
										</use>
									</svg>
								</a>
							</div>
							<div class="IconSoc">
								<a href="https://twitter.com/forbescesko" class="noDecoration" target="_blank" rel="noopener noreferrer">
									<svg class="IconSoc__tw">
										<use xlink:href="{$basePath}/build/svg/sources/sprite.svg#twitter-brands">
										</use>
									</svg>
								</a>
							</div>
							<div class="IconSoc">
								<a href="https://instagram.com/forbescesko" class="noDecoration" target="_blank" rel="noopener noreferrer">
									<svg class="IconSoc__ig">
										<use xlink:href="{$basePath}/build/svg/sources/sprite.svg#instagram-brands(1)">
										</use>
									</svg>
								</a>
							</div>
							<div class="IconSoc">
								<a href="https://linkedin.com/company/forbes-%C4%8Desko/" class="noDecoration" target="_blank" rel="noopener noreferrer">
									<svg class="IconSoc__in">
										<use xlink:href="{$basePath}/build/svg/sources/sprite.svg#linkedin-in-brands">
										</use>
									</svg>
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	{block scripts}
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	<script src="{$basePath}/build/js/scripts.min.js?v={filemtime('build/js/scripts.min.js')}"></script>
	<script type="text/javascript" n:syntax="off">
		$('#AddToCart').click(function() {
			fbq('track', 'AddToCart', {currency: "CZK", value: 499.00});
			fbq('track', 'AddToCart2', {currency: "CZK", value: 299.00});
			fbq('track', 'AddToCart3', {currency: "CZK", value: 399.00});
		});
	</script>
	{/block}
</body>
</html>
