.BannerLayout {
    display: flex;
    position: relative;
    height: 504px;
    align-items: center;

    /*&:before {
        content: '';
        position: absolute;
        display: block;
        background: url('/assets/images/layout/books_600x215.png') no-repeat center center;
        background-size: cover;
        height: 504px;
        width: 100%;
        z-index: -10;
    }*/
}

.BannerLayout__Grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 15px;
    padding: 15px;
    color: map_get($ui-colors, secondary);

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        background-image: url('/assets/images/layout/aaron-burden-unsplash.jpg');
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        height: 504px;
        width: 100%;
        z-index: -10;

        @include breakpoint-sm-min {
            background-position: center bottom -150px;
        }
    }

    &:after {
        content: '';
        background-color: rgba(map_get($ui-colors, primary), .4);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 504px;
        z-index: -9;
    }

    @include breakpoint-xs-min {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-row-gap: 30px;
        padding: 80px;
    }
}

.BannerLayout__Info {
    display: grid;
    font-family: $typography-font-family-noto;


    h1 {
        @include font-size(6);
    }
}

.BannerLayout__Content {
    @include font-size(0);

    display: grid;
    align-items: center;
    font-family: $typography-font-family-noto;
    line-height: map_get($spacing, 5);

    p:not(:last-child) {
        margin-bottom: 15px;
    }

    a {
        color: map_get($ui-colors, gold);
    }
}
