.BooksLayout {
    display: grid;
    margin: map_get($spacing, 70) 0;
}

.BooksLayout__Title {
    @include font-size(3);

    display: flex;
    justify-content: center;

    h2 {
        font-family: $typography-font-family-baseBold;
    }
}

.BooksLayout__Card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: map_get($spacing, 6) 0;
    justify-items: center;
}

.BooksLayout__Books--single {
    display: grid;
    position: relative;
    margin: map_get($spacing, 5) 0;
    padding: map_get($spacing, 4) map_get($spacing, 7);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        'image image image'
        'title title title'
        'desc desc desc'
        'format format format'
        'pages pages pages'
        'price price price'
        'order order order';
    grid-template-rows: auto;
    grid-row-gap: 15px;
    column-gap: 15px;
    transition: all .2s ease-in-out;

    @include breakpoint-xs-min {
        grid-template-areas:
            'image desc format'
            'image desc pages'
            'image desc price'
            'title desc order';
        grid-template-rows: repeat(4, auto);
    }

    &:after {
        content: '';
        position: absolute;
        bottom: - map_get($spacing, 4);
        display: flex;
        border-bottom: 3px dotted lighten(map_get($ui-colors, light-primary), 30%);
        width: 100%;
    }

    &:last-child:after {
        display: none;
    }
}

.Book__image {
    grid-area: image;
    position: relative;
    display: grid;
    justify-items: center;

    img {
        width: 225px;
    }

    .Book__timeRelease {
        @include font-size(m2);

        font-family: $typography-font-family-base;
        color: map_get($ui-colors, primary);

        strong {
            font-family: $typography-font-family-baseBold;
        }
    }
}

.Book__title {
    grid-area: title;
    display: grid;
    justify-items: center;
    align-items: center;

    p {
        @include font-size(2);

        font-family: $typography-font-family-baseBold;
        text-transform: uppercase;
    }

    span {
        @include font-size(m1);

        font-family: $typography-font-family-base;
        color: map_get($ui-colors, light-primary);
    }
}

.Book__price {
    grid-area: price;
    display: grid;
    justify-items: center;

    p {
        @include font-size(4);

        display: flex;
        align-items: center;
        font-family: $typography-font-family-baseBold;
        color: darken(map_get($ui-colors, gold), 10%);
    }

    span {
        @include font-size(0);

        font-family: $typography-font-family-base;
        color: map_get($ui-colors, light-primary);
        text-decoration: line-through;
    }
}

.Book__order,
.Book__infoButton {
    @include font-size(m2);

    grid-area: order;
    display: grid;
    justify-items: center;
    font-family: $typography-font-family-baseBold;
    text-transform: uppercase;
    color: map_get($ui-colors, secondary);

    .Book__orderTime {
        @include font-size(m2);

        color: map_get($ui-colors, light-primary);
        text-transform: lowercase;
    }
}

.Book__infoButton {
    grid-area: infoButton;
    color: map_get($ui-colors, primary);
}

.Book__desc {
    @include font-size(m2);

    position: relative;
    grid-area: desc;
    max-height: 380px;
    width: 100%;
    font-family: $typography-font-family-base;
    border: 1px solid map_get($ui-colors, border);
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    line-height: map_get($spacing, 5);

    &:after {
        content: '';
        position: sticky;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 80px;
        background: linear-gradient(rgba(map_get($ui-colors, secondary), .4), rgba(map_get($ui-colors, secondary), 1));
    }

    p {
        padding: map_get($spacing, 4);
    }
}

.Block__pages {
    grid-area: pages;
    display: grid;
    justify-items: center;
    font-family: $typography-font-family-base;

    p {
        color: map_get($ui-colors, light-primary);
    }

    strong {
        color: map_get($ui-colors, primary);
    }
}

.Block__format {
    grid-area: format;
    display: grid;
    justify-items: center;
    font-family: $typography-font-family-base;

    p {
        color: map_get($ui-colors, light-primary);
    }

    strong {
        color: map_get($ui-colors, primary);
    }
}

