.BooksLayout {
    display: grid;
    margin: map_get($spacing, 70) 0;
}

.BooksLayout__Title {
    @include font-size(3);

    display: flex;
    justify-content: center;

    h2 {
        font-family: $typography-font-family-noto;
    }
}

.BooksLayout__Card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: map_get($spacing, 6) 0;
    justify-items: center;
}

.BooksLayout__Books--single {
    display: grid;
    position: relative;
    margin: map_get($spacing, 5) 0;
    padding: map_get($spacing, 4) map_get($spacing, 2a);
    grid-template-columns: 1fr;
    grid-template-areas:
        'image image image'
        'title title title'
        'desc desc desc'
        'format format format'
        'pages pages pages'
        'price price price'
        'order order order';
    grid-template-rows: auto;
    grid-row-gap: 15px;
    column-gap: 15px;
    transition: all .2s ease-in-out;

    @include breakpoint-sm-min {
        grid-template-columns: 250px 1fr 250px;
        padding: map_get($spacing, 4) map_get($spacing, 7);
        grid-template-areas:
            'image desc format'
            'image desc pages'
            'image desc price'
            'title desc order';
        grid-template-rows: repeat(4, auto);
    }

    &:after {
        content: '';
        position: absolute;
        bottom: - map_get($spacing, 4);
        display: flex;
        border-bottom: 3px dotted lighten(map_get($ui-colors, light-primary), 30%);
        width: 100%;
    }

    &:last-child:after {
        display: none;
    }
}

.Book__image {
    grid-area: image;
    position: relative;
    display: grid;
    justify-items: center;

    img {
        width: 225px;

        @include breakpoint-sm-min {
            width: 250px;
        }
    }

    .img_brain {
        width: 150px;
    }

    .Book__timeRelease {
        @include font-size(m2);

        font-family: $typography-font-family-noto;
        color: map_get($ui-colors, primary);

        strong {
            font-family: $typography-font-family-noto;
        }
    }
}

.Book__title {
    grid-area: title;
    display: grid;
    margin-top: map-get($spacing, 5);
    justify-items: center;
    align-items: center;

    p {
        @include font-size(2);

        font-family: $typography-font-family-noto;
        text-transform: uppercase;
    }

    span {
        @include font-size(m1);

        font-family: $typography-font-family-noto;
        color: map_get($ui-colors, light-primary);
    }
}

.Book__price {
    grid-area: price;
    display: grid;
    justify-items: center;

    p {
        @include font-size(4);

        display: flex;
        align-items: center;
        font-family: $typography-font-family-noto;
        color: darken(map_get($ui-colors, gold), 10%);
    }

    span {
        @include font-size(0);

        font-family: $typography-font-family-noto;
        color: map_get($ui-colors, light-primary);
        text-decoration: line-through;
    }
}

.Book__order,
.Book__infoButton {
    @include font-size(m2);

    grid-area: order;
    display: grid;
    justify-items: center;
    font-family: $typography-font-family-baseBold;
    text-transform: uppercase;
    color: map_get($ui-colors, secondary);

    .Book__orderTime {
        @include font-size(m2);

        color: map_get($ui-colors, light-primary);
        text-transform: lowercase;
    }
}

.Book__infoButton {
    grid-area: infoButton;
    color: map_get($ui-colors, primary);
}

.Book__desc {
    @include font-size(0);

    position: relative;
    grid-area: desc;
    width: 100%;
    padding: 0 map_get($spacing, 4);
    font-family: $typography-font-family-noto;
    overflow-y: scroll;
    line-height: map_get($spacing, 6);

    span {
        @include font-size(0);

        display: block;
        position: relative;
        /*color: darken(map_get($ui-colors, light-primary), 10%);*/

        &:after {
            content: '';
            position: absolute;
            display: block;
            bottom: -20px;
            left: 50%;
            height: 1px;
            width: 50%;
            transform: translateX(-50%);
            background: lighten(map_get($ui-colors, gold), 20%);
        }
    }

    p {
        margin-top: map_get($spacing, 6);
    }
}

.Book__List {
    margin-top: map-get($spacing, 4);
    padding: 0;
    list-style: none;
    display: grid;
    grid-gap: map-get($spacing, 2);

    li {
        display: grid;
        grid-template-columns: 0 1fr;
        grid-gap: 1.75em;
        align-items: start;
        line-height: 1.5;
        &:before {
            content: '\25CF';
            display: inline-block;
            color: map-get($ui-colors, gold);
        }
    }
}

.Block__pages {
    grid-area: pages;
    display: grid;
    justify-items: center;
    font-family: $typography-font-family-base;

    p {
        color: map_get($ui-colors, light-primary);
    }

    strong {
        color: map_get($ui-colors, primary);
    }
}

.Block__format {
    grid-area: format;
    display: grid;
    justify-items: center;
    font-family: $typography-font-family-base;

    p {
        color: map_get($ui-colors, light-primary);
    }

    strong {
        color: map_get($ui-colors, primary);
    }
}

.Book__Content {
    display: flex;
    align-items: center;
    flex-direction: column;
}