.HeaderLayout {
    position: relative;
    display: flex;
    width: 100%;
    height: 65px;
    align-items: center;
    color: map-get($ui-colors, orange);
    background: map-get($ui-colors, secondary);
}

.HeaderLayout__Brand {
    align-items: center;
}

.HeaderLayout__Navbar {
    display: inline-flex;
    width: 100%;
    padding: 0 map_get($spacing, 4);

    @include breakpoint-sm-min {
        margin: 0;
    }
}

.Navbar-Menu {
    display: grid;
    align-self: center;
    justify-items: end;
    width: 100%;
    cursor: pointer;

    @include breakpoint-sm-min {
        display: none;
    }
}

.HeaderLayout__Menu {
    position: absolute;
    top: 65px;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;

    @include breakpoint-sm-min {
        position: unset;
    }
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.HeaderLayout__List {
    position: fixed;
    display: none;
    align-items: center;
    flex-direction: column;
    background: map_get($ui-colors, secondary);
    height: 100%;
    width: 100%;
    z-index: 1000;

    &.isActive {
        display: flex;
    }

    @include breakpoint-sm-min {
        display: flex;
        flex-direction: row;
        position: unset;
        width: unset;
    }
}

.HeaderLayout__ListItem {
    @include font-size(m3);

    position: relative;
    font-family: $typography-font-family-baseBold;
    margin: map_get($spacing, 4) map_get($spacing, 4);
    text-transform: uppercase;

    @include breakpoint-sm-min {
        margin: 0 map_get($spacing, 4);
    }

    &:hover::after {
        width: 20px;
        opacity: 1;
    }
}

.HeaderLayout__ListItem::after {
    content: '';
    position: absolute;
    top: -5px;
    display: block;
    height: 1px;
    width: 0;
    background: map_get($ui-colors, orange);
    transition: all .2s ease-in-out;
    opacity: 0;
}

/*.HeaderLayout__ListItem:last-child::after {
    display: none;
}*/

