// Base styles are also exposed as helper classes in CSS.

%typography-style-menu-item {
    @include font-size(3);

    font-family: $typography-font-family-base;
    font-weight: 700;
    text-transform: uppercase;

    @include breakpoint-sm-min {
        @include font-size(5);

        font-family: $typography-font-family-baseBold;
    }
}

%typography-style-headline {
    @include font-size(2);

    font-family: $typography-font-family-base;
    font-weight: 400;
    text-decoration: none;
    color: map-get($ui-colors, secondary);

    @include breakpoint-sm-min {
        @include font-size(4);
    }
}

%typography-style-faq-title {
    @include font-size(5);

    font-family: $typography-font-family-noto;
    font-weight: 400;
    text-decoration: none;
    color: map-get($ui-colors, primary);

    @include breakpoint-sm-min {
        @include font-size(6);
    }
}

%typography-style-faq-question {
    @include font-size(2);

    font-family: $typography-font-family-noto;
    font-weight: 400;
    text-decoration: none;
    color: map-get($ui-colors, primary);

    @include breakpoint-sm-min {
        @include font-size(3);
    }

    &::before {
        content: '\25A0';
        color: map-get($ui-colors, gold);
        padding-right: map-get($spacing, 2);
    }
}

%typography-style-faq-answer {
    @include font-size(0);

    font-family: $typography-font-family-base;
    font-weight: 400;
    text-decoration: none;
    color: lighten(map-get($ui-colors, primary), 30%);
    line-height: 1.6;

    @include breakpoint-sm-min {
        @include font-size(0);
    }
}

%typography-style-form-label {
    @include font-size(0);

    font-family: $typography-font-family-base;
    font-weight: 300;
}

%typography-style-podcast-list {
    @include font-size(0);

    font-family: $typography-font-family-base;
    font-weight: map-get($typography-font-weight-values, light);
}

%typography-style-flash-messages {
    @include font-size(1);

    font-family: $typography-font-family-base;
    font-weight: 700;
}