.Badge {
    position: absolute;
    right: 50px;
    top: 0;
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    background: map_get($ui-colors, gold);
    border-radius: 50%;
    box-shadow: 0 10px 15px rgba(map_get($ui-colors, primary), 0.2);
}

.Badge__price {
    @include font-size(1);

    font-family: $typography-font-family-baseBold;
    color: map_get($ui-colors, primary)
}
