.Button {
    display: flex;
    align-items: center;
}

.Button__small {
    padding: map_get($spacing, 2) map_get($spacing, 3);
    background: map_get($ui-colors, secondary);
    color: map_get($ui-colors, primary);

    &--green {
        display: flex;
        width: 170px;
        height: 48px;
        align-items: center;
        justify-content: center;
        background: map_get($ui-colors, button-order);
        transition: all .1s ease-in-out;

        &:hover {
            background: darken(map_get($ui-colors, button-order), 10%);
        }
    }

    &--bordered {
        display: flex;
        width: 170px;
        height: 48px;
        align-items: center;
        justify-content: center;
        background: map_get($ui-colors, secondary);
        border: 1px solid lighten(map_get($ui-colors, light-primary), 20%);
        transition: all .1s ease-in-out;

        &:hover {
            background: darken(map_get($ui-colors, secondary), 5%);
        }
    }
}

.Button__medium {
    padding: map_get($spacing, 3) map_get($spacing, 4);
    background: map_get($ui-colors, secondary);
    color: map_get($ui-colors, primary);
    font-family: $typography-font-family-baseBold;
    text-transform: uppercase;
}
