.RestartBar {
    display: flex;
    background: map_get($ui-colors, restart);
    width: 100%;
    overflow: hidden;
}

.RestartBar__restartBlock {
    display: flex;
    align-items: center;
}

.RestartBar__logo {
    display: inline-flex;
}

.RestartBar__Separator {
    position: relative;
    display: flex;
    padding: 0 50px;

    &:after {
        content: '';
        position: absolute;
        top: -10px;
        display: flex;
        height: 50px;
        width: 2px;
        background: map_get($ui-colors, secondary);
        transform: rotate(30deg);
    }
}

.RestartBar__menu {
    display: flex;
    width: 100%;
}

.RestartBar__menuList {
    @include font-size(m2);

    display: flex;
    align-items: center;
    width: 100%;
    color: map_get($ui-colors, secondary);

    li {
        @include font-size(m3);

        display: inline-flex;
        margin: 0 map_get($spacing, 4);
        font-family: $typography-font-family-baseBold;
        text-transform: uppercase;
    }

    a {
        transition: all .1s ease-in-out;

        &:hover {
            color: map_get($ui-colors, primary);
        }
    }
}
